*.jar
/out/production/
JoinTools_Calculator/out/production/
JoinTools_Calculator/target/
JoinTools_Converter/out/production/
JoinTools_Converter/target/
JoinTools_Launcher/plugins/
JoinTools_Launcher/src/test/
JoinTools_Launcher/target/classes/
JoinTools_Launcher/target/generated-sources/
JoinTools_Launcher/target/maven-archiver/
JoinTools_Launcher/target/maven-status/
JoinTools_NumberSystemConverter/target/
JoinTools_Sample/target/
JoinTools_SlotMachine/out/production/
JoinTools_SlotMachine/target/
JoinTools_ToDoList/out/production/
JoinTools_ToDoList/target/
